* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Livvic', sans-serif;
}

html {
  // font-size: 62.5%;
}

body,
.app {
  background-color: $clr8;
  // height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  // height: 100%;
  // width: 100%;
  object-fit: cover;
}

button {
  border: none;
  border-radius: 6px;
  cursor: pointer;
}