.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

.flex.row {
  flex-direction: row;
}

.flex.justify-center {
  justify-content: center;
}

.flex.align-center {
  align-items: center;
}

.flex.between {
  justify-content: space-between;
}

.flex.center {
  align-items: center;
  justify-content: center;
}

.flex.wrap {
  flex-wrap: wrap;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.clean-list {
  list-style: none;
  padding: 0;
  margin: 0;
}